name: instagram_blocks_ui

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths:
      - "./packages/instagram_blocks_ui/**"
      - ".github/workflows/instagram_blocks_ui.yaml"
    branches:
      - main

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_version: 3.16.9
      working_directory: packages/instagram_blocks_ui